<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Gossip team</title>
</head>
<body>
    <main>
        <h1>Bienvenue sur Gossip THP !</h1>
        <h2>Découvre ici toute la liste des potins déjà rédigés !</h2>
        <br>
        <div>
            <%for n in Gossip.all do %>
                <h2><%= n.title%></h2>
                <%= "#{n.user.first_name} #{n.user.last_name}" %><br>
                <%= n.content%><br>
                <%= link_to "Voir ce Gossip", gossip_path(n) %>
            <%end%>
        </div>
    </main>
</body>
</html>