<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Gossip team</title>
</head>
<body>
    <header>
    </header>
    <main>
        <h1>Bienvenue sur la page team gossip !</h1>
    </main>
</body>
</html>