/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    color: grey;
    padding: 0px;
}

.article{
    background-color: #bad8fa;
    max-width: 640 px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}

nav {
    background-color: rgb(223, 223, 223);
    padding: 8px;
    margin-bottom: 8px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    width: 600px;
    font-weight: bold;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}